  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">PostCode</h1>
        <p class="lead">Share your code with the world. Inspire other developers. Give and receive donations.</p>
        <p class="lead">Login or register to start your journey.</p>
        <%# Sign Up Button. Bootstrap button styling %>
        <%= link_to "Sign Up", new_account_registration_path, class: "btn btn-success" %>
        <%# Log In Button. Bootstrap button styling %>
        <%= link_to "Log In", new_account_session_path, class: "btn btn-secondary" %>
        <%= image_tag '/images/#{Awake.png}', alt:"Awake"%>
      </div>
    </div>
  </div>